<div>A deeper thing {{ a }}</div>
<div>A Cool Page: {{> "/other-pages/my-cool-page" }}</div>
<span>Hi!</span>
<span>Bye!</span>
<span>Hola!</span>
<span>This is new2</span>
<div>
    <div>
        {{> "/posts/deeper-posts/another-deeper-post" }}
    </div>
</div>